<a href="https://colab.research.google.com/github/rasyaalya/dwdm/blob/main/P5_CovidCases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
df1 = pd.read_csv('Case.csv')
df1

,case_id,province,city,group,infection_case,confirmed,latitude,longitude
0,1000001,Seoul,Guro-gu,True,Guro-gu Call Center,79,37.508163,126.884387
1,1000002,Seoul,Dongdaemun-gu,True,Dongan Church,24,37.592888,127.056766
2,1000003,Seoul,Eunpyeong-gu,True,Eunpyeong St. Mary's Hospital,14,37.63369,126.9165
3,1000004,Seoul,Seongdong-gu,True,Seongdong-gu APT,13,37.55713,127.0403
4,1000005,Seoul,Jongno-gu,True,Jongno Community Center,10,37.57681,127.006
...,...,...,...,...,...,...,...,...
76,6100004,Gyeongsangnam-do,Changwon-si,True,Hanmaeum Changwon Hospital,7,35.22115,128.6866
77,6100005,Gyeongsangnam-do,Changnyeong-gun,True,Changnyeong Coin Karaoke,7,35.54127,128.5008
78,6100006,Gyeongsangnam-do,from other city,True,Onchun Church,2,-,-
79,6100007,Gyeongsangnam-do,-,False,etc,19,-,-
80,7000001,Jeju-do,-,False,etc,4,-,-

In [4]:
df1.groupby('province')['confirmed'].sum()

province
Busan                  91
Chungcheongbuk-do      31
Chungcheongnam-do     115
Daegu                6066
Daejeon                22
Gangwon-do             29
Gwangju                16
Gyeonggi-do           164
Gyeongsangbuk-do     1145
Gyeongsangnam-do       85
Incheon                30
Jeju-do                 4
Jeollabuk-do            7
Jeollanam-do            4
Sejong                 40
Seoul                 218
Ulsan                  28
Name: confirmed, dtype: int64

In [5]:
df1.groupby('city')['confirmed'].sum()

city
-                  2280
Bonghwa-gun          58
Boram-dong            8
Changnyeong-gun       7
Changwon-si           7
Cheonan-si          104
Cheongdo-gun        119
Chilgok-gun          25
Dongdaemun-gu        24
Dongnae-gu           34
Eojin-dong           28
Eunpyeong-gu         14
Geochang-gun         18
Goesan-gun           11
Guro-gu              79
Gyeongsan-si         55
Haeundae-gu           6
Jin-gu                4
Jongno-gu            10
Jung-gu               7
Nam-gu             4359
Seongdong-gu         13
Seongnam-si          41
Seosan-si             8
Suwon-si             10
Suyeong-gu            6
from other city     760
Name: confirmed, dtype: int64